@import './variables.css';
@import '../fonts/CodecPro/stylesheet.css';

html {
  font-family: 'Codec Pro News', serif;
  font-style: normal;
  color: var(--base-500);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*button reset*/
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:hover,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}

/*
@media (min-width: 640px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 1024px) { ... }

@media (min-width: 1536px) { ... } */

@media (max-width: 1280px) {
  .Vehicles.responsive {
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
}

@media (max-width: 1024px) {
  .Vehicles.responsive {
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  .Logo.responsive {
    margin: 0;
  }

  .mobile-hidden {
    display: none;
  }

  header.responsive {
    margin: 0;
    padding: 14px 16px 12px;
  }

  .App_wrapper.responsive {
    margin: 8px 0 20px;
  }

  .Logo .Logo__icon.responsive,
  .notification-icons {
    margin: 0;
    width: 32px;
  }

  .profile .profile__image.responsive {
    height: 32px;
  }

  .Logo .Logo__text.resposive {
    width: 70px;
  }

  .Content.responsive {
    padding: 26px 16px;
    border-radius: 24px;
  }

  .Select .Select__select.responsive {
    font-size: 24px;
    line-height: 29px;
  }

  .Select_create--text.responsive {
    font-size: 16px;
    line-height: 22px;
  }

  .Select .Button.responsive {
    height: 32px;
    width: 32px;
  }

  .Select.responsive {
    margin-bottom: 25px;
  }
  .Card.responsive {
    border-radius: 24px;
  }

  .DetailedPage_wrapper.responsive {
    flex-direction: column;
  }

  .DetailedPage_wrapper__Image.responsive,
  .DetailedPage_wrapper-content.responsive {
    width: 100%;
  }

  .DetailedPage_wrapper__Image img.responsive {
    max-width: none;
  }

  .DetailedPage_wrapper__Image.responsive {
    margin-bottom: 22px;
  }
  .DetailedPage_wrapper__Image.responsive,
  .DetailedPage_wrapper-content.responsive {
    padding: 0 16px;
  }

  .DetailedPage_wrapper-content.responsive {
    margin-bottom: 87px;
  }

  .DetailedPage_wrapper-content .name.responsive {
    font-size: 24px;
    line-height: 29px;
  }

  .tabs.responsive,
  .Team_specialists__title.responsive {
    margin: 20px 0;
  }

  .Team_specialists__specialists.responsive {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .rent.responsive {
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 16px;
  }

  .rentUpperFadeWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 80px;
    width: 100%;
    height: 34px;
    background: linear-gradient(180deg, rgba(252, 252, 252, 0) 0%, #fcfcfc 100%);
    z-index: 9;
  }
  .rentUpperFadeWrapper::after{
    content:'';
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
  }

  .rent .rent-text.responsive {
    font-size: 16px;
    line-height: 22px;
  }

  .Team_specialists_Card {
    display: flex;
  }

  .Team_specialists__specialists-description {
    margin-left: 20px;
    padding-top: 8%;
  }

  .Rent__button .Rent__button-text.responsive {
    font-size: 14px;
    line-height: 12px;
    padding: 16px 24px;
  }
}
