@import './variables.css';
@import '../fonts/CodecPro/stylesheet.css';

html {
  font-family: 'Codec Pro News', serif;
  font-style: normal;
  color: var(--base-500);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*button reset*/
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:hover, button:active, button:focus{
  outline: none;
  box-shadow: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}
